In [37]:
# Read the Raw data
import pandas as pd
import string
import re

stopwords = nltk.corpus.stopwords.words('english')

pd.set_option('display.max_colwidth', 100)

df = pd.read_csv("spam.csv", encoding = "latin-1")
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1)
df.columns = ['labels', 'text']

df.head()

,labels,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [38]:
df.shape

(5572, 2)

In [39]:
df.isnull().sum()

labels    0
text      0
dtype: int64

In [40]:
## REMOVE PUNCTUATIONS
## TOKENIZE
## REMOVE STOPWORDS

In [41]:
def clean_text(text):
    text = "".join([ch.lower() for ch in text if ch not in string.punctuation])
    token = re.split('\W+', text)
    text = [word for word in token if word not in stopwords]
    return text

In [42]:
## Apply Tfidf Vectorizer

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(analyzer = clean_text)
X = vectorizer.fit_transform(df.text)

In [ ]:
print(vectorizer.get_feature_names())

In [45]:
X.shape

(5572, 9395)